:root {
	--global-background: #fff;
	--global-font-family: Tahoma, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--global-font-size: 12px;
	--global-line-height: 1.5;
	--global-color: #333333;

	--global-link-color: #24b5e1;
	--global-link-hover-color: #1891b5;

	--global-primary-color: #24b5e1;

	--global-border-width: 1px;
  	--global-border: #e5e5e5;
  	--global-margin: 20px;
	 --global-control-height: 26px;
	 --global-border-width: 1px;

}
:root {
	--base-logo-color: #24b5e1;
	--base-logo-font-family: Raleway, Tahoma, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--base-logo-font-size: 48px;
	--base-logo-font-weight: 300;
		
	--base-text-color: #333333;
	--base-text-font-family: Tahoma, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--base-text-font-size: 12px;
	--base-text-line-height: 1.5;

	--base-h1-h3-color: #212121;
	--base-h4-color:#555555;
	--base-h1-h3-font-weight: 300;

	--base-h1-font-size: 28px;                            
	--base-h1-line-height: 1;                         
	--base-h2-font-size: 24px;                           
	--base-h2-line-height: 1;                          
	--base-h3-font-size: 18px;                            
	--base-h3-line-height: 1.22;                          
	--base-h4-font-size: 14px;                          
	--base-h4-line-height: 1.83;

	--base-list-style: none;
	--base-list-font-family:  Arial, sans-serif;
	--base-list-font-size: 16px;
	--base-list-color: #393939;
	--base-list-line-height: 1;

	--base-link-color: #24b5e1;
	--base-link-text-decoration: none;


	--bredcrubs-color: #7c7c7c;
	--bredcrubs-font-size: 11px;
	--bredcrubs-text-decoration-hover: underline;

	--header-link-text-decoration: none;
}
:root {
	--table-border: 0;
	--table-background-color: #f9f9f9;

	--table-th-color: #7d7d7d;
	--table-td-color: #323232;
	--table-primaty-color: #24b6e1;

}
:root {
	--form-height: 27px;
	--form-line-height: 2;
	--form-padding: 8px 12px;

	--form-background: #fff;
	--form-color: #333333;

	--form-placeholder-color: #969696;
	--form-text-color: #333333;

	--button-padding-top-bottom: 8px;
	--button-padding-left-right: 16px;

	--button-background: #e9e9e9;
	--button-color: #000000;

	--button-primary-background: #24b5e1;
	--button-primary-color: #fff;

}